<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
	
	<typeAlias type="sehyunict.main.entity.MusicVo" alias="musicVo"/>
	
	<typeAlias type="sehyunict.admin.entity.AdminMemberVo" alias="adminMemberVo"/>
	
	<typeAlias type="sehyunict.admin.entity.PageVo" alias="pageVo"/>
	
	<typeAlias type="sehyunict.admin.entity.AdminMusicVo" alias="adminMusicVo"/>
	
	<typeAlias type="sehyunict.admin.entity.AdminAlbumVo" alias="adminAlbumVo"/>
	
	<typeAlias type="sehyunict.admin.entity.AdminArtistVo" alias="adminArtistVo"/>
	
	</typeAliases>
  
</configuration>